[Unit]
Description=Node-Exporter
After=syslog.target
After=network.target
After=nginx.service

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target