apiVersion: v1
kind: Secret
metadata:
  name: wildcard-lab-local-tls
  namespace: kube-system 
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "*"
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
type: kubernetes.io/tls
data:
  tls.crt: {{ tls_crt_b64 }}
  tls.key: {{ tls_key_b64 }}